<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="managedFusion.rewriter" type="ManagedFusion.Rewriter.Configuration.ManagedFusionRewriterSectionGroup" />
        <section name="cassette" type="Cassette.Configuration.CassetteSection, Cassette" />
    </configSections>
    <cassette handler="~/_witness/cassette.axd" moduleMode="OffInDebug">
        <scripts>
            <add path="_witness/scripts/*" />
        </scripts>
        <styles>
            <add path="_witness/styles" />
        </styles>
        <htmlTemplates>
            <add path="htmlTemplates/*" />
        </htmlTemplates>
    </cassette>
    <system.web>
        <compilation debug="true" targetFramework="4.0">
            <assemblies>
                <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
                <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
                <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
                <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
                <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
            </assemblies>
        </compilation>
    </system.web>
    <system.net>
        <settings>
            <httpWebRequest useUnsafeHeaderParsing="true" />
        </settings>
    </system.net>
    <!-- IIS Configuration -->
    <system.webServer>
        <modules runAllManagedModulesForAllRequests="true">
            <add name="RewriterModule" type="ManagedFusion.Rewriter.RewriterModule, ManagedFusion.Rewriter" preCondition="" />
            <add name="Cassette" type="Cassette.Web.CassetteHttpModule, Cassette.Web" preCondition="managedHandler" />
        </modules>
        <handlers>
            <add name="RewriterProxyHandler" preCondition="integratedMode" verb="*" path="RewriterProxy.axd" type="System.Web.HttpForbiddenHandler, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
            <add name="Cassette" verb="GET" path="_witness/cassette.axd" type="Cassette.Web.CassetteHttpHandlerFactory, Cassette.Web" />
        </handlers>
        <staticContent>
            <!-- Allow .coffee files to be served. Treat as text/plain.-->
            <mimeMap fileExtension=".coffee" mimeType="text/plain" />
        </staticContent>
        <validation validateIntegratedModeConfiguration="false" />
    </system.webServer>
    <managedFusion.rewriter xmlns="http://managedfusion.com/xsd/managedFusion/rewriter">
        <rules engine="Apache" />
        <proxy useAsyncProxy="true"/>
    </managedFusion.rewriter>
</configuration>