<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <configSections>
    <section name="knapsack" type="Knapsack.Configuration.KnapsackSection, Knapsack" />
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="1.0.0.0" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/LogOn" timeout="2880" />
    </authentication>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
    <httpModules>
      <add name="Knapsack" type="Knapsack.Web.KnapsackHttpModule, Knapsack" />
    </httpModules>
    <httpHandlers>
      <add verb="GET" path="knapsack.axd" type="Knapsack.Web.KnapsackHttpHandler, Knapsack" />
    </httpHandlers>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true">
      <add name="Knapsack" type="Knapsack.Web.KnapsackHttpModule, Knapsack" preCondition="managedHandler" />
    </modules>
    <handlers>
      <add name="Knapsack" verb="GET" path="knapsack.axd" type="Knapsack.Web.KnapsackHttpHandler, Knapsack" />
    </handlers>
    <security>
        <requestFiltering>
            <fileExtensions allowUnlisted="true">
                <add fileExtension=".coffee" allowed="true"/>
            </fileExtensions>
        </requestFiltering>
    </security>
      <staticContent>
          <mimeMap fileExtension="coffee" mimeType="text/plain"/>
      </staticContent>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <knapsack moduleMode="OffInDebug">
    <!-- moduleMode options:
                OffInDebug => Modules are used when web application is not in debug mode
                On => Modules are always used
                Off => Modules are not used
        -->
    <scripts>
      <!-- By default a module is created for each folder in "~/scripts/"
                 i.e. <add path="scripts/*"/>
            
                 Individual modules can be specified if required:
                 e.g.
                 <add path="scripts/libs"/>
                 <add path="scripts/widgets"/>
            -->
    </scripts>
    <styles>
      <!-- If empty, this convention is used: <add path="styles/*" />-->
    </styles>
  </knapsack>
</configuration>