<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="knapsack" type="Knapsack.Configuration.KnapsackSection, Knapsack" />
        <section name="managedFusion.rewriter" type="ManagedFusion.Rewriter.Configuration.ManagedFusionRewriterSectionGroup" />
    </configSections>
    <knapsack handler="~/_witness/knapsack.axd">
        <scripts>
            <add path="_witness/scripts/*" />
        </scripts>
        <styles>
            <add path="_witness/styles" />
        </styles>
    </knapsack>
    <system.web>
        <compilation debug="true" targetFramework="4.0">
            <assemblies>
                <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
                <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
                <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
                <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
                <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
            </assemblies>
        </compilation>
        <httpModules>
            <add name="RewriterModule" type="ManagedFusion.Rewriter.RewriterModule, ManagedFusion.Rewriter" />
        </httpModules>
    </system.web>
    <!-- IIS Configuration -->
    <system.webServer>
        <modules runAllManagedModulesForAllRequests="true">
            <add name="Knapsack" type="Knapsack.Web.KnapsackHttpModule, Knapsack" preCondition="managedHandler" />
            <add name="RewriterModule" type="ManagedFusion.Rewriter.RewriterModule, ManagedFusion.Rewriter" preCondition="" />
        </modules>
        <handlers>
            <add name="Knapsack" verb="GET" path="_witness/knapsack.axd" type="Knapsack.Web.KnapsackHttpHandler, Knapsack" />
            <add name="RewriterProxyHandler" preCondition="integratedMode" verb="*" path="RewriterProxy.axd" type="System.Web.HttpForbiddenHandler, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
        </handlers>
        <staticContent>
            <!-- Allow .coffee files to be served. Treat as text/plain.-->
            <mimeMap fileExtension=".coffee" mimeType="text/plain" />
        </staticContent>
        <validation validateIntegratedModeConfiguration="false" />
    </system.webServer>
    <managedFusion.rewriter xmlns="http://managedfusion.com/xsd/managedFusion/rewriter">
        <rules engine="Apache" />
    </managedFusion.rewriter>
</configuration>