#setup {
    width: 400px;
    margin: 0 auto;
}

#setup h1 {
    font-family: 'Shadows Into Light', cursive;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 10px;
}

#setup .field {
    margin-bottom: 10px;
}

#setup .field label {
    display: block;
    padding-bottom: 2px;
}

#setup .field input {
    padding: 4px;
    width: 380px;
}

#setup .field .hint {
    font-size: 8pt;
    color: #aaa;
}

#setup .log {
    margin-top: 10px;
}

#setup .error {
    color: #b00;
}

#setup .busy {
    background-image: url(images/busy.gif);
    background-repeat: no-repeat;
    background-position: 4px center;
    padding: 4px 4px 4px 24px;
    border: 1px solid #ff7;
    background-color: #ffd;
    margin-top: 10px;
}

#setup .main-error {
    background-image: url(images/error.png);
    background-repeat: no-repeat;
    background-position: 4px center;
    padding: 4px 4px 4px 24px;
    border: 1px solid #f77;
    background-color: #fdd;
    color: #c00;
    margin-top: 10px;
}