@{
    Layout = null;
    Html.ReferenceScript("_witness/scripts/witness-ui");
    Html.ReferenceStylesheet("_witness/styles");
}
<!DOCTYPE html>
<html>
<head>
    <title>Witness</title>
    @Html.RenderStylesheetLinks()
    @Html.RenderScripts()
</head>
<body>
    <div data-bind="template: { name: bodyTemplateId, foreach: bodyViewModel }"></div>

    <!-- HTML Templates -->
    <script id="Setup" type="text/html">
        <div id="setup">
            <h1>Witness Setup</h1>
            <div>
                <div>
                    <label>Specification Directory</label>
                    <input type="text" data-bind="value: specificationDirectory, enable: canInput"/>
                </div>
                <div>
                    <label>Application URL</label>
                    <input type="text" data-bind="value: applicationUrl, enable: canInput"/>
                </div>
                <div>
                    <button data-bind="click: download, enable: canInput">Go</button>
                </div>
            </div>
            <div data-bind="visible: showLog">
                <h2>Downloading...</h2>
                <div data-bind="template: { name: 'log-message', foreach: log }"></div>
            </div>
        </div>
    </script>
    <script id="log-message" type="text/html">
        <p class="${ type }">${ message }</p>
    </script>

    <script id="runner" type="text/html">
        <div>
            <div data-bind="template: { name: 'tree', data: treeRoot }"></div>
        </div>
    </script>
    <script id="tree" type="text/html">
        <ul class="tree" data-bind="template: { name: childTemplateId, foreach: children }"></ul>
    </script>
    <script id="directory" type="text/html">
        <li class="directory node" data-bind="css: { 'open': isOpen }">
            <a href="#" class="toggle" data-bind="click: toggleOpen"></a>
            <span class="text">${ text }</span>
            <ul class="children" data-bind="template: { name: childTemplateId, foreach: children }"></ul>
        </li>
    </script>
    <script id="specification" type="text/html">
        <li class="specification node" data-bind="css: { 'open': isOpen }">
            <a href="#" class="toggle" data-bind="click: toggleOpen"></a>
            <span class="text">${ text }</span>
            <ul class="children" data-bind="template: { name: childTemplateId, foreach: children }"></ul>
        </li>
    </script>
    <script id="outer-scenario" type="text/html">
        <li class="outer-scenario node" data-bind="css: { 'open': isOpen }">
            <a href="#" class="toggle" data-bind="click: toggleOpen"></a>
            <span class="text">${ text }</span>
            <ul class="children" data-bind="template: { name: childTemplateId, foreach: children }"></ul>
        </li>
    </script>
    <script id="scenario" type="text/html">
        <li class="scenario node">
            <span class="text">${ text }</span>
        </li>
    </script>
</body>
</html>
