@{
    Layout = null;
    Assets.Scripts.Reference("_witness/scripts/witness-ui");
    Assets.Stylesheets.Reference("_witness/styles");
    Assets.HtmlTemplates.Reference("HtmlTemplates/Runner");
}
<!DOCTYPE html>
<html>
<head>
    <title>Witness</title>
    @Assets.Stylesheets.Render()
    <link href="http://fonts.googleapis.com/css?family=Shadows+Into+Light&v2" rel="stylesheet" type="text/css"/>
    @Assets.Scripts.Render()
</head>
<body>
    <div data-bind="template: { name: bodyTemplateId, foreach: bodyViewModel }"></div>
    @Assets.HtmlTemplates.Render()
</body>
</html>