@{
    Layout = null;
    Html.ReferenceScript("_witness/scripts/witness-ui");
}
<!DOCTYPE html>
<html>
<head>
    <title>Witness</title>
    @Html.RenderScripts()
</head>
<body>
    <div data-bind="template: { name: bodyTemplateId, foreach: bodyViewModel }"></div>

    <!-- HTML Templates -->
    <script id="Setup" type="text/html">
        <div id="setup">
            <h1>Witness Setup</h1>
            <div>
                <div>
                    <label>Specification Directory</label>
                    <input type="text" data-bind="value: specificationDirectory, enable: canInput"/>
                </div>
                <div>
                    <label>Application URL</label>
                    <input type="text" data-bind="value: applicationUrl, enable: canInput"/>
                </div>
                <div>
                    <button data-bind="click: download, enable: canInput">Go</button>
                </div>
            </div>
            <div data-bind="visible: showLog">
                <h2>Downloading...</h2>
                <div data-bind="template: { name: 'log-message', foreach: log }"></div>
            </div>
        </div>
    </script>
    <script id="log-message" type="text/html">
        <p class="${ type }">${ message }</p>
    </script>
    <script id="runner" type="text/html">
        <div>
        runner
        </div>
    </script>
</body>
</html>
