@{
    Layout = null;
    Assets.Scripts.Reference("_witness/scripts/witness-no-ui");
}
<!DOCTYPE html>
<html>
<head>
    <title>Witness - PhantomJS Runner</title>
    @Assets.Scripts.Render()
</head>
<body>
    <!-- Page is empty. No UI required for the PhantomJS runner. -->
</body>
</html>