@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Setup Witness</title>
</head>
<body>
    <form method="get" action="@Url.Action("Index")">
        <div>
            <label>Application URL</label>
            <input type="text" name="url" />
        </div>
        <div>
            <label>Specs Path</label>
            <input type="text" name="path" />
        </div>
        <div>
            <button type="submit">Load Runner</button>
        </div>
    </form>
</body>
</html>
