@{
    Html.ReferenceScript("scripts/witness/SimpleRunner.coffee");
    Html.ReferenceScript("scripts/lib/jquery.js");
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Witness</title>
    @Html.RenderScripts()
    <script type="text/javascript">
        $(function () {
            var log = new Witness.SimpleRunner.Log($("#log"));
            var runner = new Witness.SimpleRunner();
            var names = ["dsl/describe", "action", "asyncaction", "assertion", "dsl", "scenario", "specification", "tryall", "dsl/wait", "dsl/async", "dsl/defineActions"];
            //var names = ["dsl/describe"];
            var downloads = names.map(function (name) {
                return runner.download("/scripts/specs/" + name + ".coffee");
            });
            $.when.apply(null, downloads).then(
                function () {
                    runner.runAll(log);
                }
            );
        });
    </script>
</head>
<body>
    <ul id="log">
    </ul>
</body>
</html>