@{
    Html.ReferenceScript("scripts/witness/SimpleRunner.coffee");
    Html.ReferenceScript("scripts/lib/jquery.js");
    Html.ReferenceScript("scripts/lib/jquery.tmpl.js");
    Html.ReferenceStylesheet("styles/witness/witness.css");
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Witness</title>
    @Html.RenderScripts()
    <script type="text/javascript">
        $(function () {
            var runner = new Witness.SimpleRunner("scripts/specs");
            runner.download();
            ko.applyBindings(runner);

            $("#run").click(function() { runner.runAll(); });
        });
    </script>
    @Html.RenderStylesheetLinks()
</head>
<body>
    <div><button id="run">Run</button></div>
    <ul id="specifications" data-bind="template: { name: 'directory', foreach: directory }"></ul>
    <script id="directory" type="text/html">
    <li class="directory" data-bind="css: { open: isOpen }">
        <a class="toggle-open" href="#" data-bind="click: toggleOpen"></a>
        <div class="name" data-bind="text: name"></div>
        <ul data-bind="template: { name: 'directory', foreach: directories }"></ul>
        <ul data-bind="template: { name: 'file', foreach: files }"></ul>
    </li>
    </script>
    <script id="file" type="text/html">
    <li class="file" data-bind="css: { open: isOpen }">
        <a class="toggle-open" href="#" data-bind="click: toggleOpen"></a>
        <div class="name" data-bind="text: name"></div>
        <ul data-bind="template: { name: 'specification', foreach: specifications }"></ul>
    </li>
    </script>
    <script id="specification" type="text/html">
    <li class="specification" data-bind="css: { open: isOpen }">
        <a class="toggle-open" href="#" data-bind="click: toggleOpen"></a>
        <div class="name" data-bind="text: description"></div>
        <ul data-bind="template: { name: 'scenario', foreach: scenarios }"></ul>
    </li>
    </script>
    <script id="scenario" type="text/html">
        <li data-bind="attr: { 'class': 'scenario ' + status() }">
            <div class="name">Scenario:</div>
            <p data-bind="text: givenDescription"></p>
            <ul data-bind="template: { name: 'action', foreach: givens }"></ul>
            <p data-bind="text: whenDescription"></p>
            <ul data-bind="template: { name: 'action', foreach: whens }"></ul>
            <p data-bind="text: thenDescription"></p>
            <ul data-bind="template: { name: 'action', foreach: thens }"></ul>
            <div data-bind="template: { name: 'error', foreach: errors }"></div>
        </li>
    </script>
    <script id="action" type="text/html">
        <li data-bind="attr: { 'class': 'action ' + status() }">
            <div data-bind="text: name"></div>
            <div data-bind="template: { name: 'error', foreach: errors }"></div>
        </li>
    </script>
    <script id="error" type="text/html">
        <p data-bind="text: message"></p>
    </script>
</body>
</html>
