@{
    Html.ReferenceScript("scripts/witness/SimpleRunner.coffee");
    Html.ReferenceScript("scripts/lib/jquery.js");
    Html.ReferenceScript("scripts/lib/jquery.tmpl.js");
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Witness</title>
    @Html.RenderScripts()
    <script type="text/javascript">
        $(function () {
            var runner = new Witness.SimpleRunner("scripts/specs");
            runner.download();
            ko.applyBindings(runner);
        });
    </script>
    <style type="text/css">
    li.passed { color: Green; }
    li.failed { color: #800; }
    </style>
</head>
<body>
    <ul id="specifications" data-bind="template: { name: 'directory', foreach: directory }"></ul>
    <script id="directory" type="text/html">
    <li class="directory">
        <div class="name" data-bind="text: name"></div>
        <ul data-bind="template: { name: 'directory', foreach: directories }"></ul>
        <ul data-bind="template: { name: 'file', foreach: files }"></ul>
    </li>
    </script>
    <script id="file" type="text/html">
    <li class="file">
        <div class="name" data-bind="text: name"></div>
    </li>
    </script>
</body>
</html>
