@{
    Html.ReferenceScript("scripts/witness/SimpleRunner.coffee");
    Html.ReferenceScript("scripts/lib/jquery.js");
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Witness</title>
    @Html.RenderScripts()
    <script type="text/javascript">
        $(function () {
            var log = $("#log");
            var runner = new Witness.SimpleRunner();
            runner.download("/scripts/specs/action.coffee", function() {
                runner.runAll(function (msg) {
                    log.append('<li>' + msg + '</li>');
                });
            })
        });
    </script>
</head>
<body>
    <ul id="log">
    </ul>
</body>
</html>