@{
    Html.ReferenceScript("scripts/witness/SimpleRunner.coffee");
    Html.ReferenceScript("scripts/lib/jquery.js");
    Html.ReferenceScript("scripts/lib/jquery.tmpl.js");
    Html.ReferenceStylesheet("styles/witness/witness.css");
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Witness</title>
    @Html.RenderScripts()
    <script type="text/javascript">
        $(function () {
            var runner = new Witness.SimpleRunner("@ViewBag.Path", $("#view"));
            runner.download();
            ko.applyBindings(runner);

            $("#run").click(function() { runner.runAll(); });
        });
    </script>
    @Html.RenderStylesheetLinks()
</head>
<body>
    <div id="toolbar"><button id="run">Run</button></div>
    <div id="specifications">
        <ul data-bind="template: { name: fileSystemItemTemplate, foreach: directory }"></ul>
    </div>
    <div id="view"></div>

    <script id="directory" type="text/html">
        <li class="directory" data-bind="css: { open: isOpen }">
            <a class="toggle-open" href="#" data-bind="click: toggleOpen"></a>
            <div class="name" data-bind="text: name"></div>
            <ul data-bind="template: { name: 'directory', foreach: directories }"></ul>
            <ul data-bind="template: { name: fileTemplate, foreach: files }"></ul>
        </li>
    </script>
    <script id="file-of-one" type="text/html">
        <li class="file" data-bind="css: { open: isOpen }">
            <a class="toggle-open" href="#" data-bind="click: toggleOpen"></a>
            <div class="name">
                <span data-bind="text: specifications()[0].description"></span>
                <span class="filename" data-bind="text: '(' + name + ')'"></span>
            </div>
            <ul data-bind="template: { name: scenarioTemplate, foreach: specifications()[0].scenarios }"></ul>
            <ul data-bind="template: { name: 'error', foreach: errors }"></ul>
        </li>
    </script>
    <script id="file-of-many" type="text/html">
        <li class="file" data-bind="css: { open: isOpen }">
            <a class="toggle-open" href="#" data-bind="click: toggleOpen"></a>
            <div class="name" data-bind="text: name"></div>
            <ul data-bind="template: { name: 'specification', foreach: specifications }"></ul>
            <ul data-bind="template: { name: 'error', foreach: errors }"></ul>
        </li>
    </script>
    <script id="specification" type="text/html">
        <li class="specification" data-bind="css: { open: isOpen }">
            <a class="toggle-open" href="#" data-bind="click: toggleOpen"></a>
            <div class="name" data-bind="text: description"></div>
            <a href="#" data-bind="click: run">run</a>
            <ul data-bind="template: { name: scenarioTemplate, foreach: scenarios }"></ul>
        </li>
    </script>
    <script id="scenario" type="text/html">
        <li data-bind="attr: { 'class': 'scenario ' + status() }, click: select, css: { selected: isSelected }">
            <p data-bind="text: givenDescription"></p>
            <ul data-bind="template: { name: 'action', foreach: givens }, visible: givens.length!=0"></ul>
            <p data-bind="text: whenDescription"></p>
            <ul data-bind="template: { name: 'action', foreach: whens }, visible: whens.length!=0"></ul>
            <p data-bind="text: thenDescription"></p>
            <ul data-bind="template: { name: 'action', foreach: thens }, visible: thens.length!=0"></ul>
            <ul data-bind="template: { name: 'error', foreach: errors }, visible: errors.length!=0"></ul>
        </li>
    </script>
    <script id="outer-scenario" type="text/html">
        <li data-bind="attr: { 'class': 'outer-scenario ' + status() }, css: { open: isOpen }">
            <p data-bind="text: givenDescription"></p>
            <ul data-bind="template: { name: 'action', foreach: givens }, visible: givens.length!=0"></ul>
            <ul data-bind="template: { name: scenarioTemplate, foreach: innerScenarios }"></ul> 
        </li>
    </script>
    <script id="action" type="text/html">
        <li data-bind="attr: { 'class': 'action ' + status() }">
            <div data-bind="text: description"></div>
            <ul data-bind="template: { name: 'error', foreach: errors }, visible: errors().length!=0"></ul>
        </li>
    </script>
    <script id="error" type="text/html">
        <li class="error" data-bind="text: message"></li>
    </script>
</body>
</html>
