@{
    Layout = null;
    Html.ReferenceScript("scripts/witness/witness.coffee");
}
<!DOCTYPE html>
<html>
<head>
    <title>Sandbox</title>
    @Html.RenderScripts()
</head>
<body>
</body>
</html>
