@{
    Layout = null;
    Html.ReferenceScript("_witness/scripts/lib");
    Html.ReferenceScript("_witness/scripts/witness");
}
<!DOCTYPE html>
<html>
<head>
    <title>Witness Script Execution Sandbox</title>
    @Html.RenderScripts()
</head>
<body>
</body>
</html>