@{
    Layout = null;
    Assets.Scripts.Reference("_witness/scripts/lib");
    Assets.Scripts.Reference("_witness/scripts/witness");
}
<!DOCTYPE html>
<html>
<head>
    <title>Witness Script Execution Sandbox</title>
    @Assets.Scripts.Render()
</head>
<body>
</body>
</html>