@{
    Layout = null;
    Html.ReferenceScript("scripts/lib");
    Html.ReferenceScript("scripts/witness");
}
<!DOCTYPE html>
<html>
<head>
    <title>Witness Script Execution Sandbox</title>
    @Html.RenderScripts();
</head>
<body>
</body>
</html>