<?xml version="1.0"?>
<configuration> 
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>
    <system.webServer>
        <validation validateIntegratedModeConfiguration="false"/>
        <modules runAllManagedModulesForAllRequests="true"/>
        <staticContent>
            <mimeMap fileExtension=".coffee" mimeType="text/plain"/>
        </staticContent>
    </system.webServer>
</configuration>
